<body id="home">
	
	<form method="post" action="/weather">
		<h1>Enter your location:<br><br> <input type="text" name="post[location]" />
		<input type="submit" value="Submit" name="Search" /></h1>
	</form>
</body>
