<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Weather App</title>
	<link rel="stylesheet" type="text/css" href="styles.css">

</head>
	<body>
		<div>
			<h1>
				<%= @weather %>
				<%= yield %>
			</h1>
		</div>


	</body>
</html>